body{
    position: absolute;
    left: 10px;
    background-color: #bdf0de;
}
#logo{
    float: left;
    width: 75px;
    height: 65px;
}
@font-face {
  font-family: fuente_titulo;
  src: url(../fuentes/ballpark.woff);
}

@font-face {
  font-family: fuente_enlaces;
  src: url(../fuentes/dayrom.woff);
}

#titulo{
    font-family: fuente_titulo;
    position: relative;
    top: 30px;
    left: 15px;
}

a{
    text-decoration: none;
    color: black;
    padding: 8px;
    position: relative;
    left: 300px;
    font-family: fuente_enlaces;
}

#barra1{
    clear: both;
    width: 700px;
    position: relative;
    top: 6px;
    border: 1px dashed #4d749d;
  
}

#barcelona{
    position: relative;
    top: 10px;
    width: 710px;
    height: 250px;
    border: 1px solid grey;
     border-radius: 10px;
    box-shadow: 1px 1px grey;
    
    border-left-style: none;
    border-top-style: none;   
}

#piefoto{
    background-color: black;
    color: white;
    opacity: 0.75;
    position: relative;
    bottom: 44px;
    height: 25px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 0px 15px;
    
}

#pin{
    float: left;
}

#titulo2{
    position: relative;
    font-family: fuente_enlaces;
    left: 60px;
    bottom: 57px;
}

#parrafo1, #parrafo2, #parrafo3, #parrafo4{
    width: 420px;
    text-align: justify;
    position: relative;
    bottom: 40px;
    
}

#fondoAside{
    background-color: #8b897a;
    border: 2px solid #8b897a;
    width: 265px;
    height: 650px;
    position: relative;
    left: 450px;
    bottom: 570px;
    border-radius: 10px;
    
}

#tituloAside{
    color: white;
    font-family: fuente_enlaces;
    position: relative;
    left: 7px;
    font-size: 20px;
    
}

#arrow{
    position: relative;
    right: 12px;
    top: 160px;
}

#tiempo{
    position: relative;
    left: 10px;
    width: 180px;
    height: 390px;
   
}

#widget{
    position: relative;
    left: 4%;
    bottom: 58%;
}
    
#facebook, #twitter, #vimeo, #flickr{
    position: relative;
    top: 440px;
}

#barra2{
    clear: both;
    width: 720px;
    position: relative;
    top: 510px;
    right: 470px;
     border: 1px dashed #4d749d;
}

#top{
    position: relative;
    top: 501px;
    right: 150px;
}

#footer1{
    position: relative;
    bottom: 550px;
    width: 180px;
    
}

#parrafoHola, #parrafoHora{
    font-size: 12px;
}

#titulo3, #titulo4, #titulo5{
    font-family: fuente_enlaces;
    font-size: 15px;
}

#footer2{
    position: relative;
    bottom: 550px;
    left: 200px;
    bottom: 642px;
}

#barcelona1, #barcelona2, #barcelona3, #barcelona4{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    
}

#footer3{
    position: relative;
    bottom: 550px;
    left: 450px;
    bottom: 749px;
}
#external_link1, #external_link2, #external_link3{
    padding: 7px;
}

#parrafo10, #parrafo11, #parrafo12{
    position: relative;
    left: 20px;
    font-size: 12px;
    bottom: 87px;
}

#external_link4, #external_link5, #external_link6{
    padding: 7px;
    position: relative;
    left: 155px;
    bottom: 171px;
}

#parrafo13, #parrafo14, #parrafo15{
    position: relative;
    left: 180px;
    font-size: 12px;
    bottom: 258px;
}


